<body>
    <div class="main">
    <form>
      
      <mat-card> 
        <h2>Register</h2>
        <p>
            <mat-form-field appearance="outline" >
              <mat-label>Username</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <button mat-raised-button color="accent">Submit</button>
        </mat-card>
    
    </form>
    </div>
    </body>